@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
    --purple: hsl(259, 100%, 65%);
    --light_red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off_white: hsl(0, 0%, 94%);
    --light_grey: hsl(0, 0%, 86%);
    --smokey_grey: hsl(0, 1%, 44%);
    --off_black: hsl(0, 0%, 8%);
    --input_font: 32px;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--off_white);
}

.container {
    display: flex;
    
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.content{
    max-width: 700px;
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 140px;
}

.row{
    padding: 40px;
    padding-bottom: 0px;
}

.row input{
    height: 55px;
    border-radius: 5px;
    border: 1px hsl(0, 0%, 86%) solid;
    font-weight: 800;
    font-size: 25px;
}  

.inputs:focus {
    border: 2px solid var(--purple);
    outline: none;
}
input::placeholder{
    color: var(--smokey_grey);
}

.btn{
    width: 70px;
    height: 70px;
}

.btn:hover{
    background-color: var(--off_black);
}

.line{
    margin-bottom: -34px;
    margin-top: 32px;
    width: 550px;
}

.show-result{
    padding-left: 40px;
    font-size:70px;
    font-weight: 800;
}

.show-result span{
    color: var(--purple);
}

@media  (max-width: 768px) {
    .line{
      width: 350px;  
    }
  }
@media (max-width:455px){
    
    .btn{
        margin-right: 40%;
    }
    .line{
        width: 100%;  
    }
    .content{
        margin-top: -60%;
    }
}

@media (max-width:575px) {
   .content{
    max-width: 385px;
   } 
   .btn{
    margin-right: 40%;
    }
   .show-result{
    font-size: 50px;
    }
}  

@media (max-width:280px)  {
    .show-result{
        font-size: 30px;
    }

}